#test-rgpd {
    z-index: 1;
    background-color: var(--tertiary-color);
}
#test-rgpd > div {
    z-index: 2;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    margin: 0;
    padding: 102px var(--margin-horizontal-mobile) 0 var(--margin-horizontal-mobile);
}
#test-rgpd > div::after {
    z-index: -1;
    position: absolute;
    bottom: -183px;
    right: -70px;
    content: '';
    background-color: var(--white);
    border-radius: 100%;
    width: 451px;
    height: 451px;
}
#test-rgpd > div > div {
    max-width: 554px;
}
#test-rgpd h2, #test-rgpd p {
    color: var(--white);
}
#test-rgpd a {
    margin: 30px 0 30px 0;
    padding-left: 68px;
    padding-right: 68px;
}
#test-rgpd img {
    height: fit-content;
    align-self: flex-end;
    margin-top: 28px;
    min-width: 310px;
    max-width: 85%;
    display: block;
    margin-left: auto;
}