#newsletter  {
    margin-bottom: 50px;
}
#newsletter > div {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    padding: 0 81px;
}
#newsletter > div::before {
    
    position: absolute;
    bottom: -107px;
    right: -70px;
    content: '';
    background-color: var(--white);
    border-radius: 100%;
    width: 451px;
    height: 451px;
}
#newsletter h2 {
    margin-top: 70px;
    margin-bottom: 15px;
}
#newsletter h2 + p {
    margin-bottom: 30px;
}
#newsletter p {
    color: var(--black);
}
form {
    margin-left: 104px;
    max-width: 535px;
}
form p {
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    line-height: 150%;
}
form > div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px 0 50px 0 ;
    max-width: 477px;
}
form  button {
    margin-bottom: 90px;
    padding-left: 80px;
    padding-right: 80px;
}
#newsletter form + img {
    z-index: 1;
    height: fit-content;
    align-self: flex-end;
}