:root {
    /* colors */
    /* #2F2E41 */
    --primary-color : #302E44;
    --secondary-color : #23E59F;
    --tertiary-color : #F5F5F5;
    --white : #FFFFFF;
    --black : #000000;

    --nav-height-mobile : 93px;
    --nav-height-desktop : 132px;

    /* margin */
    --margin-horizontal-desktop : 70px;
    --margin-horizontal-mobile : 25px;
    

    /* typography */
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    /* size */
    --font-size-xl : 40px;
    --font-size-l : 30px;
    --font-size-m : 20px;
    --font-size-s : 14px;
    --font-size-xs : 12px;
    --font-size-xxs : 11px;
}

/* -----------------------------------------------------------------------------------------------------
                                    ANIMATION CONTROL
----------------------------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------------------------
                                    GENERAL CONTENT
----------------------------------------------------------------------------------------------------- */

/* ==============================
            GENERAL
================================= */

html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    color : var(--primary);
}
.noScroll {
    overflow-y: hidden;
}
body {
    background-color: #FFFFFF;
    width: 100%;
}
body::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

/* ==============================
            TYPOGRAPHY
================================= */
h1 {
    font-weight: 700;
    font-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
    color: var(--white);
    margin-bottom: 15px;
    line-height: 150% ;
}
h2 {
    font-weight: 700;
    font-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
    color: var(--primary-color);
    margin-bottom: 15px;
    line-height: 150%;
}
h3 {
    font-weight: 700;
    font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
    margin-top: 20px;
}
h2 > span {
    color: var(--secondary-color);
}
p {
    color: var(--primary-color);
    font-weight: 400;
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
}
a { 
    color: var(--primary-color);
    text-decoration: none;
}
li {
    color: var(--primary-color);
    line-height: 150%;
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
}
li > span {
    font-weight: 700;
}

/* ==============================
            BUTTONS
================================= */
button, .button {
    text-align: center;
    display: block;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    font-weight: 700;
    padding : 20px;
    border-radius : 5px;
    border: none;
    line-height: normal;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.06);
}
button:hover {
    cursor: pointer;
}
.button--small {
    font-size: clamp(0.75rem, 0.4423rem + 0.4808vw, 0.875rem);
    padding: 10px;
    font-weight: 600;
    box-shadow: none;
}

.button--primary {
    background-color: var(--primary-color);
    color: var(--white);
}
.button--secondary {
    background-color: var(--secondary-color);
}
.button--tertiary{
    background-color: #FFFFFF;
    color: var(--primary-color);
}
.button--outline-dark {
    background-color: transparent;
    border: solid 1px var(--primary-color);
}
.button--outline-light {
    background-color: transparent;
    border: solid 1px #FFFFFF;
    color: #FFFF;
}
.button--round {
    background-color: var(--primary-color);
    border-radius: 100%;
    width: 47px;
    height: 47px;
    border: solid 1px #ffff;
    box-shadow: none;
    padding: 0;
    margin-bottom: 15px;
}
button.disabled {
    opacity: 0.4;
    pointer-events: none;
}
button.button--round .disabled > svg {
    border: none;;
    stroke-opacity: 0.4;
}

/* ==============================
            INPUTS
================================= */

input {}

input:focus {}

input:active {}

/* ==============================
            CONTAINERS
================================= */

/* ======= MAIN ======= */
main {
    position: relative;
}
main::before {
    z-index: -99;
    position: absolute;
    content: '';
    background-color: #F3F3F3;
    right: 0;
    top: 0;
    width: 23%;
    height: calc( 4 * 100vh)
}

section {
    width: 100%;
}

.section__container {
    margin: 0 var(--margin-horizontal-mobile);
    /* background-color: #23E59E2A; */
    height: fit-content;
}

/* ======= HEADER ======= */
header {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: var(--primary-color);
}

/* ======= FOOTER ======= */
footer {}

/* ======= NAVIGATION ======= */
nav {
    z-index: 2;
    position: relative;
    height: var(--nav-height-mobile);
    background-color: #FFFFFF;
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    /* animation A REVOIR */
    transition: height 0.3s ease, margin 0.3s ease, border-radius 0.4s ease;
}
nav ul {
    list-style: none;
}


/* -----------------------------------------------------------------------------------------------------
                                    SMALL DEVICES (mobile + tab
                                    320px - 1024px
----------------------------------------------------------------------------------------------------- */

/* ======= NAVIGATION ======= */
nav#navigation--desktop {
    display: none;
}
nav#navigation--mobile {
    z-index: 999;
    position: fixed;
    width: 100vw;
}
nav#navigation--mobile > img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom : 15px;
    width: 86px;
    height: 37px;
}
#navigation--mobile img + div {
    height: 20px;
    position: absolute;
    top : 51px;
    left: 18px;
}
.menu {
    z-index: 1;
    text-align: center;
    background-color: var(--primary-color);
    position: absolute;
    top:  var(--nav-height-mobile);
    height: calc(100vh - var(--nav-height-mobile));
    width: 100%;
    padding: 21px 15px 0 18px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    /* animation */
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out,  visibility 0.3s ease-in-out;
}
.menu.menu-open {
    max-height: calc(100vh - var(--nav-height-mobile));
    opacity: 1;
    visibility: visible;
}
.menu li  {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}
.menu li > p {
    color: var(--white);
    font-size: var(--font-size-s);
    font-weight: 500;
}
.menu li > img {
    width: 18px;
    height: 18px;
}
.menu > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}
.menu > a {
    font-weight: 400;
    text-decoration: underline;
    color: var(--white);
}
.menu > a:hover , .menu > a:focus {
    font-weight: 600;
}
.menu a.button {
    padding: 15px;
}
.submenu-mobile {
    z-index: 99;
    background-color: var(--primary-color);
    height: calc(100vh - var(--nav-height-mobile));
    position: absolute;
    top:  var(--nav-height-mobile);
    width: 100%;
    padding: 30px 0 0 15px;
    /*  opacity: 0;
    visibility: hidden; */
}
.submenu-mobile li a, .submenu-mobile p, .submenu-mobile svg + p{
    color: var(--white);
}
.go-back {
    display: flex;
    align-items: center;
    gap: 10px;
}
.go-back > p {
    font-size: var(--font-size-xs);
    font-weight: 500;
    line-height: normal;
}
.submenu-mobile > p {
    font-size: var(--font-size-m);
    font-weight: 700;
    line-height: 150%;
    margin : 15px 0 15px 0;
}
.submenu-mobile li {
    margin-bottom: 16px;

}
.submenu-mobile li a{
    font-size: var(--font-size-s);
    font-weight: 500;
    line-height: normal;

}

/* ==============================
            HEADER
================================= */
.header__container {
    padding-top: calc(50px + var(--nav-height-mobile));
    margin : 0 20px;
}
.header__container  p {
    color: var(--white);
}
.header__container--top {
    position: relative;
    max-height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap : 25px;
    justify-content: center;
}
.header__container--top > img {
    min-width: 200px;
    max-width: 45%;
}
.header__container--top::after {
    position: absolute;
    bottom: 0;
    content: '';
    margin : 0;
    padding: 0;
    height: 0.5px;
    width: 100vw;
    background-color: #FFFFFF;
}
.header__container--top-left {
    max-width: 622px;
    margin-bottom: auto;
}
.header__container--top-left > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.header__container--top-left > p {
    margin-bottom: 30px;
}
.header__container--top-left > div div > a {
    display: flex;
    gap: 15px;
}
.header__container--top-left a > p {
    font-weight: 700;
    text-decoration: underline;
}
.header__container--bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding : 25px 0 ;
    margin : 0 auto;
    text-align: center;
    gap: 20px;
}
.header__container--bottom  > div  {
    max-width: 137px;
    margin : 0 auto;
}
.header__container--bottom  > div:nth-child(2)  {
    max-width: 100px;
}
.header__container--bottom  > div p:first-of-type {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}
.header__container--bottom  > div p:last-of-type {
    line-height: 17px;
}
.header__container--bottom a {
    margin : 10px auto;
}
/* ==============================
            MAIN
================================= */

/* =====================================
        SECTION : PRESTATIONS
======================================== */
#ours_prestations > div {
    position: relative;
}
#ours_prestations > div > div:first-child {
    position: relative;
    background-color: var(--white);
    border-radius: 30px 30px 0 0;
    padding: 101px 0 70px 0 ;
    text-align: center;
}
#ours_prestations > div > div:first-child::before {
    position: absolute;
    top: -1px;
    left: calc(var(--margin-horizontal-mobile) * -1);
    content: '';
    background-color: var(--primary-color);
    width: 100vw;
    height: 67%;
    z-index: -1;
}
#ours_prestations > div > div > p {
    margin: 0 auto;
    max-width: 856px;
}
#ours_prestations  > div > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}
#ours_prestations  > div > div:last-child > div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: var(--white);
    padding: 30px 20px;
    width: 100%;
}
#ours_prestations  > div > div:last-child > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 70px;
    height: 71px;
}
#ours_prestations  > div > div:last-child > div > div img {
    width: fit-content;
    height: auto;
}
#ours_prestations  > div > div:last-child > div:nth-child(2) {
    border: none;
    background: var(--primary-color);
    color: var(--white);
}
#ours_prestations  > div > div:last-child > div:nth-child(2) > div {
    background-color: var(--white);
}
#ours_prestations  > div > div:last-child > div p {
    flex-grow: 1;
    margin-top: 15px;
    line-height: 150%;
}
#ours_prestations  > div > div:last-child > div:nth-child(2) p {
    color: var(--white);
    margin-top: 10px;
}
#ours_prestations  .button {
    margin-top: 20px;
    margin-bottom: 27px;
}
/* =====================================
        SECTION : OUR MISSION
======================================== */
#our_mission {
    margin-top: 136px;
    border: none;
}
#our_mission > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
}
#our_mission h2 {
    margin-top: 71px;
}
#our_mission ul {
    margin: 0;
    margin : 30px auto;
}
#our_mission ul li {
    line-height: 30px;
}
#our_mission ul li::before {
    content: "\2022"; 
    color: var(--primary-color); 
    font-size: 1em;
    margin-right: 0.5em; 
}
#our_mission a + img {
    display: block;
    margin-top: 30px;
}
#our_mission > div  div:last-of-type {
    position: relative;
    max-width: 524px;
    min-width: 200px;
}
#our_mission > div  div:last-of-type::before {
    position: absolute;
    z-index: -1;
    content: '';
    left : 0; 
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
}
#our_mission div +  div > img {
    display: block;
    max-width: 100%;
    height: 100%;
}
/* =====================================
        SECTION : VIDEO
======================================== */
#video {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
#video > div {
    position: relative;
    position: relative;
}
#video > div:hover {
    cursor: pointer;
}
#video > div::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    background-color: var(--primary-color);
    border-radius: 100%;
    width: max(55px, 6.5%);
    height: max(55px, 13%);

    transition: transform 0.3s, background-color 0.3s;
}
#video > div:hover::before {
    background-color: var(--secondary-color);
    transform: scale(1);
    transform: translate(-50%, -50%) scale(1.2);
}
#video > div::after {
    position: absolute;
    top: 50%;
    left: 50.3%;
    transform: translate(-50%, -50%);
    content: '';
    width: min(26px, 6.5%);
    height: min(38px, 13%);
    background: url("./assets/icon_play.png") center/100% 100% no-repeat;
    transition: transform 0.3s;
}
#video > div:hover::after {
    transform: translate(-50%, -50%) scale(1.2);
}
#video img {
    display: block;
    width: 100%;
    height: 100%;
}
/* =====================================
        SECTION : TEST RGPD
======================================== */
#test_rgpd {
    z-index: 1;
    background-color: var(--tertiary-color);
}
#test_rgpd > div {
    z-index: 2;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    margin: 0;
    padding: 102px var(--margin-horizontal-mobile) 0 var(--margin-horizontal-mobile);
}
#test_rgpd > div::after {
    z-index: -1;
    position: absolute;
    bottom: -183px;
    right: -70px;
    content: '';
    background-color: var(--white);
    border-radius: 100%;
    width: 451px;
    height: 451px;
}
#test_rgpd > div > div {
    max-width: 554px;
}
#test_rgpd h2, #test_rgpd p {
    color: var(--white);
}
#test_rgpd a {
    margin: 30px 0 30px 0;
    padding-left: 68px;
    padding-right: 68px;
}
#test_rgpd img {
    height: fit-content;
    align-self: flex-end;
    margin-top: 28px;
    min-width: 310px;
    max-width: 85%;
    display: block;
    margin-left: auto;
}

/* =========================================
        SECTION : CUSTOMERS TESTIMONY
============================================ */
#customers_testimony  {
    background-color: var(--tertiary-color);
}
#customers_testimony > div  {
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: 13%;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 15%;
}
#customers_testimony > div > img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 525px;
    width: 40.5%;
}
#customers_testimony h2 {
    margin : 0 25px 50px 111px
}
#customers_testimony > div > div {
    max-width: 745px;
    flex-basis: 50%;
    flex-grow: 1;
}
/* ======= SLIDER ======= */
/* TODO : slider */
#slider {
    display: flex;
    gap: 67px;
    margin-bottom : 50px;
}
.slide {
    max-width: 632px;
}
.slide > p {
    white-space: pre-line;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
    line-height: 30px;
    max-height: 300px;
    overflow-y: auto;
}
.slide > div p:first-child {
    font-weight: 700;
    line-height: 150%;
    font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
}
.slider-progress-bar {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #A3A3A3;
    margin-bottom: 102px;
}
.slider-progress-bar-bar {
    position: absolute;
    top: -3px;
    border-radius: 3px;
    width: 185px;
    height: 6px;
    background-color: #00EA99;
}

/* =========================================
        SECTION : Q&A
============================================ */
#questions-answers {
    margin-top: 100px;
}
#questions-answers > div {
    text-align: center;
}
#questions-answers h2 {
    margin-bottom: 50px;
}
#questions-answers h2 + div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#questions-answers > div > div:last-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}
#questions-answers a.button {
    margin-top: 19px;
    height: fit-content;
}
.question__container {
    flex-grow: 1;
    width: 524px;
    text-align: left;
    height: fit-content;
    background-color: var(--primary-color);
    padding: 40px 49px 40px 40px;
}
.question__container > div {
    display: flex;
    gap: 15px ;
}
.question__container p {
    font-weight: 600;
    font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem); 
    line-height: normal;
    margin-bottom: 20px;
}
.question__container:nth-child(even) p {
    line-height: 150%;
}
.question__container  a {
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    font-weight: 700;
    line-height: 150%;
    text-decoration-line: underline;
}
.question__container:first-child {
    width: 413px;
    background-color: #B3F9E0;
    padding: 76px 80px 76px 40px;
}
.question__container:nth-child(2) p, .question__container:nth-child(2) a {
    color: var(--white);
}
.question__container:last-child {
    width: 302px;
    background-color: #F9F9F9;
    padding: 28px 36px 29px 36px;
}

/* =========================================
        SECTION : OURS ARTICLES
============================================ */
#ours_articles {
    padding : 100px 0 100px 0;
    background-color: var(--primary-color);
}
#ours_articles h2 {
    margin: 0 0 50px 111px;
    color: var(--white);
}
#ours_articles .button {
    margin: 32px auto 0 auto;
    padding: 20px 42px;
}
#ours_articles h2 + div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 29px;

}
article {
    max-width: 303px;
    min-width: 180px;
}
article img {
    display: block;
    margin-bottom: 10px;
}
article > a {
    display: block;
}
article p {
    color: var(--white);
}
article a > p:first-of-type {
    font-size: var(--font-size-xs);
    font-weight: 600;
    line-height: normal;
}
article a > p:nth-child(3) {
    font-size: var(--font-size-xxs);
    color: #00EA99 ;
    line-height: normal;
    margin: 12px 0 4px 0;
}
article a > p:nth-child(4) {
    font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}
article a > p:last-of-type {
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    line-height: 150%;
    margin-right: auto;
}
article:last-of-type {
    align-self: baseline;
}

/* =========================================
        SECTION : OUR TEAM
============================================ */
#our-team {
    padding : 50px 0 77px 0;
}
#our-team h2 {
    margin : 0 0 50px 111px;
}
.our-team__container {
    display: flex;
    gap: 30px;
}
.our-team__container--top {
    justify-content: flex-end;
    margin-bottom: 50px;
}
.our-team__container > div {
    max-width: 303px;
}
.our-team__container > div  > div {
    position: relative;
    overflow: hidden;
}
.our-team__container > div  > div::before {
    position: absolute;
    bottom: 0;
    content: "Voir le témoignage";
    text-align: center;
    vertical-align: middle;
    padding: 0;
    background-color: var(--primary-color);
    width: 100%;
    color: var(--white);
    font-weight: 700;
    line-height: 150%;
    font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
    height: 0; 
    transition: height 0.3s ease, padding 0.3s ease; 
}
.our-team__container > div  > div:hover::before {
    cursor: pointer;
    padding: 25px ; 
    height: 18%;
}
.our-team__container > div div + p {
    color: var(--black);
    font-weight: 700;
    line-height: 150%;
    margin: 15px 0 5px 0;
    font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
}
.our-team__container > div p:last-of-type {
    color: var(--black);
    font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
    line-height: 150%;
}
.our-team__container > div img {
    display: block;
    width: 100%;
    height: 100%;
}

/* =========================================
        SECTION : NEWSLETTER
============================================ */
#newsletter  {
    margin-bottom: 50px;
}
#newsletter > div {
    display: flex;
    background-color: var(--tertiary-color);
    border: 0 0 30px 30px;
    overflow: hidden;
}
#newsletter > div::after {

}
/* -----------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES
----------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------------------------------
                                    MEDIUM DEVICES
----------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
    /* =====================================
            SECTION : OUR MISSION
    ======================================== */

    #our_mission > div {
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
    }
/*     #our_mission > div > div {
        width: 47%;
    } */
    /* =====================================
        SECTION : VIDEO
    ======================================== */
    #video > div {
        margin: 0 ;
        width: 100vw;
    }

    /* =====================================
        SECTION : TEST RGPD
    ======================================== */
    #test_rgpd > div {
        flex-wrap: nowrap;
    }
    /* =========================================
        SECTION : CUSTOMERS TESTIMONY
    ============================================ */
    #customers_testimony > div  {
        flex-direction: row;
        padding-bottom: 0;
    }

}

@media screen and (min-width: 860px) {

    #ours_prestations  > div > div:last-child {
        flex-direction: row;
    }
    #ours_prestations  > div > div:last-child > div {
        min-height: 487px;;
    }
}

/* -----------------------------------------------------------------------------------------------------
                                    BIG DEVICES (laptop - desktop)
                                    +1024px - +1440px
----------------------------------------------------------------------------------------------------- */


/* ==============================
            1024PX
================================= */
@media screen and (min-width: 1024px) {

    /* ==============================
            GENERAL
    ================================= */

    h2 {
        line-height: 50px;
    }
    .section__container {
        margin: 0 var(--margin-horizontal-desktop);
    }

    /* ==============================
            CONTAINERS
================================= */
    section.container {
        margin: 0 70px;
    }

    /* ======= NAVIGATIONS ======= */
    nav#navigation--mobile {
        display: none;
    }
    nav#navigation--desktop {
        display: block;
    }
    nav {
        margin: 0 71px;
        height: var(--nav-height-desktop);
        background-color: #FFFFFF;
        border-radius: 0 0 30px 30px;
        padding: 31px 50px 20px 50px;
    }
    nav > div {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        max-height: 81px;
    }
    nav ul {
        display: flex;
        font-size: 12px;
        
        gap: 10px;
    }
    nav li {
        display: flex;
        gap: 3px;
    }
    nav li:hover {
        cursor: pointer;
    }
    nav li > p, nav li > a p {
        font-weight: 500;
    }
    nav a {
        font-size: 11px;
    }
    nav a:hover {
        text-decoration: underline;
    }
    .nav__container--left > div > a:first-child{
        margin-right: 9px;
    }
    .nav__container--left, .nav__container--right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav__logo {
        align-self: flex-end;
        height: auto;
        width: 15%;
    }
    .nav__container--right div {
        display: flex
    }
    .nav__container--right div:first-child {
        justify-content: flex-end;
        gap: 15px;
    }
    .nav__container--right div:first-child > div {
        gap: 9px;
    }
    .nav__container--right div:last-child {
        justify-content: flex-end;
        gap : 20px;
    }
    .submenu-desktop {
        background-color: #FFFFFF;
        position: absolute;
        left : 80px;
        top: 117px;
        margin-top: 5px;
        width: fit-content;
        padding: 30px 50px;
        display: flex;
        justify-content: flex-start;
        gap : 50px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        visibility: hidden;
        opacity: 0;
        transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
    }
    .submenu-desktop ul {
        display: flex;
        flex-direction: column;
    }
    .submenu-desktop li {
        display: block;
        padding: 10px;
        max-width: 232px;
        border-radius: 5px;
    }
    .submenu-desktop li:hover  {
        background-color: var(--tertiary-color);
    }
    .submenu-desktop li:hover a p  {
        font-weight: 700;
    }
    .submenu-desktop li > a {
        text-decoration: none;
    }
    .submenu-desktop li > a  p {
        line-height: 18px;
        color: #2F2E41;
        font-size: var(--font-size-s);
        font-weight: 500;
        margin-bottom: 5px;
    }
    .submenu-desktop li > a >span {
        color: rgba(47, 46, 65, 0.80);
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
    }
    /* open submenus */
    .menu-desktop-solutions:hover  > .submenu-desktop {
        visibility: visible;
        opacity: 1;
    }

    /* ======= HEADER ======= */
    h1 {
        line-height: 50px ;
    }
    .header__container {
        position: absolute;
        padding: 0;
        margin : 0;
        bottom: 0;
        width: 100%;
    }
    .header__container--top {
        gap : 100px;
        flex-wrap: nowrap;
    }
    .header__container--top-left {
        width: 40%;
        max-width: 522px;
    }
    .header__container--top-left > div {
        gap: 30px;
    }
    .header__container--bottom {
        padding : 50px 0 ;
        text-align:left;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 76%;
    }
    .header__container--bottom  > div  {
        max-width: 137px;
    }
    .header__container--bottom  > div:nth-child(2)  {
        max-width: 125px;
    }
    .header__container--bottom  > div p:first-of-type {
        font-size: 30px;
        line-height: 30px;
    }

    /* =====================================
            SECTION : PRESTATIONS
    ======================================== */
    #ours_prestations > div > div:first-child::before {
        left: calc(var(--margin-horizontal-desktop) * -1);
    }
    
    /* =====================================
        SECTION : TEST RGPD
    ======================================== */
    #test_rgpd > div {
        gap: 72px;
        margin: 0 var(--margin-horizontal-desktop);
        border-radius: 0 0 30px 30px;
        padding: 102px 50px 0 50px;
    }
    #test_rgpd > div > div {
        margin-left: 51px;
    }
    #test_rgpd img {
        margin-right: 2px;
    }

    /* =========================================
        SECTION : CUSTOMERS TESTIMONY
    ============================================ */
    #customers_testimony > div  {
        column-gap: 189px;
    }
    #customers_testimony > div > div {
        margin: 0 ;
    }

    

    
    

}

    /* ==============================
            1200PX
================================= */
@media screen and (min-width: 1200px) {

    /* ======= BUTTONS ======= */
    .button--small {
        padding: 10px 20px;
    }

    /* ======= NAVIGATIONS ======= */
    nav {
        padding: 31px 80px 20px 81px;
    }
    nav ul {
        font-size: 14px;
        gap: 13px;
    }

    /* =========================================
        SECTION : Q&A
    ============================================ */
    .question__container {
        max-width: 524px;
    }
    .question__container:first-child {
        max-width: 443px;
    }
    .question__container:last-child {
        max-width: 302px;
    }

}

    /* ==============================
            1280PX
================================= */
@media screen and (min-width: 1280px) {


    /* ======= NAVIGATIONS ======= */
    nav {
        padding: 31px 109px 20px 110px;
    }
    .nav__logo {
        height: 84px;
        width: 191px;
    }



    
}

/* -----------------------------------------------------------------------------------------------------
                                    INTERRACTION CLASS
----------------------------------------------------------------------------------------------------- */

.close {
    display: none;
}